.plano_body {
    font-size: 16px;
}
.plano_body > h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.plano_body > h2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.plano_body > h3 {
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.plano_body > ul {
    margin-left: 30px;
    list-style: lower-latin;
}
.plano_body > ul > li > ul {
    margin-left: 30px;
    list-style: lower-latin;
}
.plano_body > blockquote {
    text-align: center;
    margin: 10px 0;
    color: white;
    font-weight: bold;
}
.plano_body > blockquote > blockquote {
    text-align: center;
    color: #333;
    font-weight: lighter;
}

.post-content-full > ol,
.post-content-full > ul {
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 2em;
}

li > ol,
li > ul {
    margin-left: 3px;
    padding-left: 1.2em;
}

.post-content-full > blockquote {
    /* text-align: center; */
    margin: 10px 0;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 0.15em solid #ccc;
}

.post-content-full > h1 {
    margin-top: 25px;
    font-weight: bolder;
    font-size: 28px;
}

.post-content-full > h2 {
    margin-top: 25px;
    font-weight: bolder;
    font-size: 26px;
}

.post-content-full > h3 {
    margin-top: 25px;
    font-weight: bolder;
    font-size: 20px;
}

.post-content-full a {
    color: #2f8fe3;
}

.post-content-full a:hover {
    text-decoration: underline;
}

.post-content-full .language-text {
    color: #666;
    background: RGBA(0, 0, 0, 0.1);
}

.post-content-full pre {
    background: RGBA(0, 0, 0, 0.06);
}

.post-content-full > img {
    margin: auto;
}

.post-content-full > p > img {
    margin: auto;
}
