@font-face {
  font-family: "Mont Serrat";
  src: local("Mont Serrat"), url("./../assets/fonts/Montserrat-Light.ttf");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont Serrat";
  src: local("Mont Serrat"), url("./../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont Serrat";
  src: local("Mont Serrat"), url("./../assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: local("Lato"), url("./../assets/fonts/Rubik.ttf");
  font-display: swap;
}

@font-face {
  font-family: "BorisBlackBloxx";
  src: local("BorisBlackBloxx"), url("./../assets/fonts/BorisBlackBloxx.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraCode";
  src: local("FiraCode"), url("./../assets/fonts/FiraCode-Regular.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 14px;
  color: #313131;
  font-family: "Mont Serrat", sans-serif;
  height: inherit;
  overflow-x: hidden;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

#root {
  height: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
}

pre {
  font-family: Fira Code !important;
  overflow: auto;
  padding: 10px;
  margin-top: 10px !important;
  border-radius: 7px;
  font-size: 1em;
}

code{
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
}